---
---

@import "minima";

@font-face {
  font-family: 'HelveticaBold';
  src: url('helveticabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
footer .page-link {
  color: #694f40;
  font-size: 13px;
  font-family: 'Helvetica';
}

.site-nav .page-link {
  font-family: 'HelveticaBold';
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3em;
}

.site-footer nav {
  display: flex;
  justify-content: end;
  gap: 16px;
}